.Appcontainer {
  padding: 1rem;
  margin: 1rem;
  padding-top: 80px; /* Add padding to the top to account for the navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   /* Subtle shadow */
}