.navbar{
    background-color: #1D1616;
}
.button{
    transition: all 0.5s ease;
}
.button:hover{
    height: 30px;
    width: 70px;
    background-color: #005B41;
    border-radius: 10px;
    transform: scale(1.2); 

}